@charset "UTF-8";

body, html {
	background: url("MountRainier.jpg") no-repeat center center scroll;
	height: 100%;
	background-size: cover;
	background-attachment: fixed;
}

h1 {
	color: #061724;
	font-family: cursive, Comic Sans;
}

h6, li, h2, h5, h3, h4 {
	color: white;
	font-family: sans-serif;
}