@charset "UTF-8";



body, html {
  background-image: url("Glacier.jpg");

  /* Full height */
  height: 115%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: SaddleBrown;
  font-family: cursive;
  font-weight: bolder;
}

h4 {
	color: white;
	font-family: sans-serif;
}


    